@import url('https://fonts.googleapis.com/css?family=Titillium+Web:200,400,700');

OrderBook-borders = 1px solid #ccc

body
  padding: 0
  margin: 0
  font-family: 'Titillium Web', sans-serif;
  background-color: #164059
  #fullwindow
    height: 100vh
    display: flex
    // height: 460px
    justify-content:center
    align-items: center

.Paper
  margin: 20px
  padding: 32px
  height: 560px
  width: 100%
  min-width: 900px
  max-width: 1200px
  background: white
  align-items: stretch
  &__Inner
    height: 100%
    display: flex
    flex-direction: column
  &__Header
    flex-basis: 24px
    height: 24px
    margin-bottom: 24px
  &__Content
    flex-grow: 1
    display: flex
.ToolBar
  width: 100%
  height: 100%
  display: flex;
  &__Icon
    color: #808080
    &--big
      height: 24px
      width: 24px
  &__Part
    flex-grow: 1
    display: flex;
    align-items: center;
    & *
      margin-left: 10px
      &:first-child
        margin-left: 0
    &--left
      justify-content:flex-start;
    &--right
      justify-content:flex-end;
.OrderBook
  width: 100%
  border: OrderBook-borders
  display: flex
  &__Table
    flex-grow: 1
    flex-basis: 0
    display: flex
    flex-direction: column
    border-right: OrderBook-borders
    &:last-child
      border-right: none
    &Row
      display: flex;
      align-items: center
      &:hover
        background: #eee
      &--reversed
        flex-direction: row-reverse;
        & .OrderBook__TableCell > span
          margin-left: 0px
          margin-right: 20px
          float: right
        & .OrderBook__TableCell:last-child > span
          margin-left: 20px
          float: left
    &Header
      height: 48px
      border-bottom: OrderBook-borders
      font-weight: bold;
      font-style: italic;
    &Content
      flex-grow: 1
      color: #808080
      font-weight: 200;
    &Cell
      flex-basis: 0
      flex-grow: 1
      span
        margin-left: 20px
      &:last-child span
        margin-left: 0px
        margin-right: 20px
        float: right
//     .BookHeader
//       width: 100%
//       flex-grow: 1
//       .Inner
//         display: flex
//         align-items: center
//         margin-bottom: 24px
//         svg
//           margin-top: 4px
//         h1
//           font-size: 24px
//           margin: 0 0 0 10px
//           height: auto
//     .BookContent
//       flex-grow: 1
//       border: 1px solid #808080
//       .Inner
//         display: flex
//
// .OrderTable
//   height: 100%
//   overflow-y: scroll
//   .row
//     display: flex
//     div
//       flex-grow: 1
//       flex-basis: 0
